.res-form-body {
    margin-left: 100px;
    margin-top: 40px;
}

.almost-done {
    font-weight: 600;
}

.res-card {
    margin-top: 20px;
    display: flex;
}

.res-pic {
    height: 70px;
    width: 70px;
    border-radius: 6px;
}

.res-name-city {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.res-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.res-date-time-peeps {
    display: flex;
    margin-top: 30px;
}

.res-date-time-peeps > div:not(:first-child) {
    margin-left: 30px;
}