.it-looks-like {
    position: absolute;
    display: flex;
    align-items: center;
    top: 520px;
    padding-bottom: 10px;
    margin-left: 45px;
    border-bottom: 1px solid rgb(207, 190, 190);
    width: 93%;
}

.it-looks-like div {
    padding-right: 20px;
    font-size: 15px;
}

.arrow-location {
    height: 30px;
}

.category-header {
    font-size: 25px;
    border-bottom: 1px solid rgb(207, 190, 190);
    width: 100%;
    padding-bottom: 25px;
    padding-top: 35px;
}

.restaurant-cards {
    position: absolute;
    display: flex;
    top: 570px;
    margin-left: 45px;
    width: 93%;
    flex-direction: column;
}

.card-row {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.restaurant-card {
    min-width: 245px;
    margin-top: 15px;
    border: 1px solid rgb(207, 190, 190);
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.restaurant-card:hover {
    border-bottom: 2px solid rgb(207, 190, 190);
}

.card-image, .card-info {
    height: 50%;
    width: 100%;
}

.card-info > div {
    padding-bottom: 11px;
    margin-left: 7px;
    margin-right: 7px;
    max-width: 80%
}

.card-reviews-and-stars {
    display: flex;
}
.stars {
    padding-right: 10px;
    padding-bottom: 3px;
}

.stars img {
    height: 20px;
}

.reviews {
    padding-top: 3px;
}

.card-name {
    font-size: 20px;
    font-weight: 600;
    padding-top: 4px;
}

.booked-times {
    padding-top: 8px;
    font-weight: lighter;
}

.cuisine-price-area {
    font-weight: lighter;
    font-size: 17px;
}

.bottom-socials {
    position: absolute;
    display: flex;
    top: 1330px;
    margin-left: 45px;
    margin-right: 45px;
    width: 93%;
    background-size: cover;
    text-align: center;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

.footer-food {
    height: 225px;
    min-width: 100%;
    object-fit: cover;
    filter: brightness(70%);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

}

.socials-text {
    z-index: 4;
    position: absolute;
    color: white;
    position: absolute;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.connect-with-me {
    font-size: 38px;
}

.social-buttons {
    padding-top: 50px;
    display: flex;
}
.social-buttons input {
    margin: 20px;
    height: 40px;
    width: 150px;
    border: none;
    cursor: pointer;
}
input.linkedin {
    background-color: rgb(3, 3, 126);
    color: white
}
input.twitter {
    background-color: rgb(141, 141, 219);
    color: white
}
input.github {
    background-color: black;
    color: white
}

.splash-footer {
    position: absolute;
    display: flex;
    top: 1590px;
    background-size: cover;
    text-align: center;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(40, 39, 54);
    color: white;
}

.mock-opentable {
    padding-bottom: 10px;
}

.real-opentable a {
    color: white;
}