/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "./search.scss";
@import "./splash/splash_header.scss";
@import "./splash/splash_body.scss";
@import "./restaurants/restaurants.scss";
@import "./reservations/reservations.scss";
@import "./reset.scss";



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, button, input, select, textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #31d3bd;
    font-weight: 100;
}

.whole-thing {
    opacity: 100%;
}

html {
    min-width: 100%;
}


.top-line {
    height: 25px;
    background-color: rgb(212, 237, 241);
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    
}

.top-line-social {
    margin: auto 0;
    margin-right: 7px;
    font-size: 10px;
    color: rgb(20, 104, 109);
    padding-right: 22px;

}

.test-for-index {
    position: absolute;
    top: 2000px;
}

#map-container {
    width: 500px;
    height: 500px;
}

