.restaurant-search-cards {
    position: absolute;
    display: flex;
    top: 220px;
    left: 250px;
    width: 65%;
    flex-direction: column;
}

.restaurant-search-card {
    height: 200px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.search-pic {
    width: 200px;
    padding-bottom: 10px;
    border-radius: 6px;
}

.search-info {
    margin-left: 10px;
}

.search-page-search-form {
    background-color: #3a010beb;
    height: 75px;
}
.search-page-search-bar {
    height: 47px;
    background-size: 35px;
    background-position: 7px;
    background-repeat: no-repeat;
    text-indent: 40px;
    border: none;
    width: 300px;
    border-radius: 3px;
    position: absolute;
    top: 90px;
    left: 250px;
}

.find-a-table-button {
    height: 50px;
    width: 150px;
    background-color: #ff3340;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 90px;
    left: 570px;
    border-radius: 6px;
}
.find-a-table-button:hover {
    cursor: pointer;
}

#search-output {
    position: absolute;
    left: 250px;
    margin-top: 30px;
    font-size: 20px;
}