.restaurant-search-cards {
    position: absolute;
    display: flex;
    top: 220px;
    left: 400px;
    width: 65%;
    flex-direction: column;
}

.restaurant-search-card {
    height: 200px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.search-pic {
    width: 200px;
    padding-bottom: 10px;
    border-radius: 6px;
}

.search-info {
    margin-left: 10px;
}

.search-page-search-form {
    background-color: #3a010beb;
    height: 75px;
}
.search-page-search-bar {
    height: 47px;
    background-size: 35px;
    background-position: 7px;
    background-repeat: no-repeat;
    text-indent: 30px;
    border: none;
    width: 300px;
    border-radius: 3px;
    position: absolute;
    top: 90px;
    left: 500px;
}

.find-a-table-button {
    height: 50px;
    width: 150px;
    background-color: #ff3340;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 90px;
    left: 820px;
    border-radius: 6px;
}
.find-a-table-button:hover {
    cursor: pointer;
}

#search-output {
    position: absolute;
    left: 400px;
    margin-top: 30px;
    font-size: 20px;
}

.filters {
    position: absolute;
    display: flex;
    top: 220px;
    left: 100px;
    width: 250px;
    flex-direction: column;
}
.filters > form {
    padding-bottom: 40px;
    border-bottom: 1px solid lightgray;
}

.price-filters {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 5px;
}
.price-filters > input {
    width: 70px;
    height: 40px;
    font-size: 15px;
    border: 1px solid lightgray;
}
.price-filters > input:hover {
    cursor: pointer;
    border: 1px solid navy;
}

.price-filter-title {
    display: flex;
}
.price-filter-title > h1 {
    margin-top: 9px;
    font-weight: 600;
}

.price-filter-on {
    background-color: rgba(0, 0, 0, 0.408);
    color: white;
}

.regions-filter-title {
    display: flex;
    margin-top: 20px;
    margin-left: 6px;
}
.regions-filter-title > i {
    margin-left: 1px;
}

.regions-filter-title > h1 {
    margin-left: 8px;
    font-weight: 600;
}

.region-filters {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    margin-top: 7px;
}
.region {
    margin-top: 8px;
}

.region-label {
    margin-left: 5px;
}

.cuisine-filter-title {
    margin-top: 7px;
}

.cuisines-filter-title {
    display: flex;
    margin-top: 20px;
}

.clear-search-and-filter {
    height: 50px;
    width: 150px;
    background-color: #746f6f;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 90px;
    left: 984px;
    border-radius: 6px;
}
.clear-search-and-filter:hover {
    cursor: pointer;
}

.date-time-peeps-search {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
}

.date-time-peeps-search input, .date-time-peeps-search select {
    width: 115px;
    margin-top: 11px;
    border: none;
}

.date-time-peeps-search input {
    height: 51px;
    border-radius: 3px 0px 0px 3px;
}
.date-time-peeps-search select {
    height: 51px;
}
.search-date {
    margin-right: 1px;
}