.restaurant-search-cards {
    position: absolute;
    display: flex;
    top: 220px;
    left: 350px;
    width: 65%;
    flex-direction: column;
}

.restaurant-search-card {
    height: 200px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.search-pic {
    width: 200px;
    padding-bottom: 10px;
    border-radius: 6px;
}

.search-info {
    margin-left: 10px;
}

.search-page-search-form {
    background-color: #3a010beb;
    height: 75px;
}
.search-page-search-bar {
    height: 47px;
    background-size: 35px;
    background-position: 7px;
    background-repeat: no-repeat;
    text-indent: 40px;
    border: none;
    width: 300px;
    border-radius: 3px;
    position: absolute;
    top: 90px;
    left: 350px;
}

.find-a-table-button {
    height: 50px;
    width: 150px;
    background-color: #ff3340;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 90px;
    left: 670px;
    border-radius: 6px;
}
.find-a-table-button:hover {
    cursor: pointer;
}

#search-output {
    position: absolute;
    left: 350px;
    margin-top: 30px;
    font-size: 20px;
}

.filters {
    position: absolute;
    display: flex;
    top: 220px;
    left: 50px;
    width: 250px;
    flex-direction: column;
}

.price-filters {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.price-filters > input {
    width: 70px;
    height: 40px;
    font-size: 15px;
    border: 1px solid lightgray;
}
.price-filters > input:hover {
    cursor: pointer;
    border: 1px solid navy;
}

.price-filter-title {
    display: flex;
}
.price-filter-title > h1 {
    margin-top: 9px;
}

.price-filter-on {
    background-color: rgba(0, 0, 0, 0.408);
    color: white;
}